input:invalid {
	border: 2px solid red;
}

input:valid:focus {
	border: 2px solid black;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

.alert {
	width: 30%;
}
